a {
    text-decoration: none !important;
}

.custom-container {
    padding: 7.5px 175px 7.5px 175px;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-navy {
    background-color: #003087 !important;
}

.text-navy {
    color: #0070ba !important;
}

.border-navy {
    border-color: #003087 !important;
}

.hover-secondary:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.hover-underline:hover {
    text-decoration: underline !important;
}

.scrollbar-thin {
    scrollbar-width: thin !important;
}

.fs-7 {
    font-size: .84rem;
}

.invert-100 {
    filter: invert(1) !important;;
}